<div class="row">
  <div class="col-4 col-md-offset-4">
    <form>
      <div class="form-group">
        <label class="control-label" for="userName">User Name: </label>
        <input type="text" name="userName" id="userName" [(ngModel)]="model.userName" />
      </div>
      <div class="form-group">
        <label class="control-label" for="pssword">Password : </label>
        <input type="text" name="password" id="password" [(ngModel)]="model.password" />
      </div>
      <div class="form-row">
        <button class="btn btn-primary pull-right">Sign In</button>
      </div>
    </form>
  </div>
</div>
