<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" routerLink="/">Northwind Traders</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/dashboard" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" routerLink="/admin"  routerLinkActive="active">Admin</a>
        <a class="nav-item nav-link" routerLink="/product" routerLinkActive="active">Products</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a class="nav-item nav-link" [routerLink]="[{ outlets: { popup : ['compose'] } }]" >
          <i class="fa fa-comment"></i> Contact Us
        </a>
        <a class="nav-item nav-link" routerLink="#" target="_blank">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="nav-item nav-link" routerLink="#" target="_blank">
          <i class="fa fa-medium"></i>
        </a>
      </div>
    </div>
  </nav>
