<p>
  product-detail works!
</p>
<div *ngIf="model$ | async as model">
<form>
  <div class="form-group row">
    <label for="productName" class="col-sm-3 col-form-label">Product Name: </label>
    <div class="col-sm-6">
    <input type="text" name="productName" id="productName" class="form-control" readonly
     [(ngModel)]="model.productName" #name="ngModel"/>
  </div>
  </div>
  <div class="form-group row">
    <label for="unitPrice" class="col-sm-3 col-form-label">Unit Price: </label>
    <div class="col-sm-6">
    <input type="text" name="unitPrice" id="unitPrice" class="form-control" readonly
      [(ngModel)]="model.unitPrice" #price="ngModel"/>
  </div>
</div>
  <div class="form-group row">
    <label for="unitsInStock" class="col-sm-3 col-form-label">Stock Level: </label>
    <div class="col-sm-6">
    <input type="text" name="unitsInStock" id="unitsInStock" class="form-control" readonly
      [(ngModel)]="model.unitsInStock" #stock="ngModel"/>
  </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-6 col-sm-offset-2">
        <a class="btn btn-outline-warning text-dark" [routerLink]="['/product']">Go back</a>
    </div>
  </div>
</form>
</div>